{
  "presets": [
    "flow",
    "react",
    ["env", {
      "targets": {
        "electron": "1.6.8"
      }
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": 6
          }
        }],
        "power-assert"
      ]
    }
  }
}
