{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "flowtype",
    "prettier",
    "react"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "globals": {
  },
  "rules": {
    "prettier/prettier": ["error"]
  }
}
